<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <a href="/log-in"><b>Log</b> IN</a>
        <a href="/sign-up"><b>Sign</b> UP</a>
        <a href="/members-club">Members Club</a>
    </h1>
    <main>

    </main>
</body>
</html>