<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
    <header class="header">
        <h1><%= username %></h1>
        <div id="control-links-holder">
            <% if(!logged_in){ %>
            <a href="/log-in" class="control-links"><b>Log</b> in</a>
            <% } %>
            
            <% if(!logged_in){ %>
            <a href="/sign-up"><b>Sign</b> up</a>
            <% } %>
                
            <% if(logged_in){ %>
            <a href="/members-club"><b>Members</b> club</a>
            <% } %>
        </div>
    </header>
    <main id="main-content">
        <div id="controls">
            <% if(logged_in){ %>
                <a class="user-controls" href="/create-message">New MESSAGE</a>
                <a class="user-controls" href="/log-out">Log Out</a>
            <% } %>
        </div>
        <div id="messages-view">
            <% if(!error) { %>
                <ul id="messages-list">
                    <% messages.forEach(message => { %>
                        <div class="message-item">
                            <li>
                                <% if(member) { %>
                                    <div id="msg-username">
                                        <h1><%= message.username %></h1>
                                    </div>
                                <% } %>
                                    <div id="msg-content"><p><%= message.message %></p></div>
                            </li>
                        </div>
                    <% }) %>
                </ul>
            <% } %>
        </div>
    </main>

</body>
</html>